{% extends "base.html" %}
{% block content %}

<div class="c-card">

    <!--Titulo-->
    <div class="display-3 center mb-5 mt-5">
        Usuários
    </div>

    <!--Corpo-->
    <div class="c-card-b" style="align-items: start;">
        {% if users %}
            <!--Tablela de Usuarios-->
            <table class="table table-striped">

                <!--Header-->
                <tr>

                    <th> Name          </th>
                    <th> Username      </th>
                    <th> Email         </th>
                    <th> Cpf           </th>
                    <th> Register Date </th>

                </tr>
                
                <!--Listagem-->
                {% for user in users %}
                <tr>

                    <td> {{ user.name         }} </td>
                    <td> {{ user.username     }} </td>
                    <td> {{ user.email        }} </td>
                    <td> {{ user.cpf          }} </td>
                    <td> {{ user.registerDate }} </td>

                </tr>
                {% endfor %}

            </table> 
        {% else %}
            <h1>Não existem usuarios</h1>
        {% endif %}

        
    </div>
</div>

{% endblock content %}