{% extends "housing/housing_index.html" %}
{% block content %}
{% import 'utils/forms.html' as forms %}

{% if rooms %}
<table class="table table-striped" id="view_rooms">
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rooms %}
        <tr>
            <td>{{ r.name }}</td>
            <td>
                <form action="/housing/view_room_sensors" method="POST">
                    <input type="hidden" name="room_id" value="{{ r.id }}">
                    <button class="btn btn-primary" type="submit">Listar Sensores</button>
                </form>
            </td>
            <td>
                <form action="/housing/view_room_actuators" method="POST">
                    <input type="hidden" name="room_id" value="{{ r.id }}">
                    <button class="btn btn-primary" type="submit">Listar Atuadores</button>
                </form>
            </td>
            <td>
                <form action="/housing/register_sensor_room" method="POST">
                    <input type="hidden" name="room_id" value="{{ r.id }}">
                    <button class="btn btn-success" type="submit">Adicionar Sensor</button>
                </form>
            </td>
            <td>
                <form action="/housing/register_actuator_room" method="POST">
                    <input type="hidden" name="room_id" value="{{ r.id }}">
                    <button class="btn btn-success" type="submit">Adicionar Atuador</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>Não há cômodos cadastrados</h1>
        {% endif %}
    </tbody>
</table>
{% endblock content %}