{% extends "iot/iot_index.html" %}
{% block content %}

<div class="c-card">
    <div class="c-card-h">Módulo de IOT</div>
    <div class="c-card-b">
        <ul>
            <li><a href="register_sensor">Cadastrar sensor</a></li>
            <li><a href="register_actuator">Cadastrar atuador</a></li>
            <li><a href="register_microcontroller">Cadastrar microcontrolador</a></li>
            <li><a href="#">Leitura de dados dos sensores</a></li>
            <li><a href="acionamento_sensores">Acionamento dos sensores</a></li>
        </ul>
    </div>
</div>

{% endblock %}