{% extends "iot/iot_index.html" %}
{% block content %}

<table id="view_actuator">
    <thead>
        <tr>
            <th>ID</th>
            <th>Device ID</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% if actuators %}
        {% for a in actuators %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.device_id }}</td>
            <td>{{ a.type }}</td>
        </tr>
        {% endfor %}
        {% else %}
            <h1>Não há atuadores cadastrados</h1>
        {% endif %}
    </tbody>
</table>
{% endblock content %}